@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Order Contacts for Patients</h1>
</div>
<div class="Pic">
<img src="~/css/bernd-dittrich-O6w3Zs9Q9UI-unsplash.jpg"
 width="1000" 
 height="1000"
/> 
</div>